<div class="footer">
  <div class="footer__contact">
    <p class="footer__contact__headline">Contact us.</p>
    <ul class="footer__contact__socials">
      <li class="footer__contact__socials__social">
        <i class="fa-brands fa-square-facebook"></i>
      </li>
      <li class="footer__contact__socials__social">
        <i class="fa-brands fa-square-instagram"></i>
      </li>
      <li class="footer__contact__socials__social">
        <i class="fa-brands fa-linkedin"></i>
      </li>
      <li class="footer__contact__socials__social">
        <i class="fa-brands fa-square-x-twitter"></i>
      </li>
    </ul>
    <ul class="footer__contact__help">
      <li class="footer__contact__help__links">
        <a href="{{ siteUrl('privacy-policy') }}">Privacy Policy</a>
      </li>
      <li class="footer__contact__help__links">
        <a href="{{ siteUrl('terms-of-service') }}">Terms Of Service</a>
      </li>
      <li class="footer__contact__help__links">
        <a href="{{ siteUrl('contact') }}">Contact Us</a>
      </li>
    </ul>
  </div>
  <div class="footer__newsletter">
    <p class="footer__newsletter__headline">
      Sign up for our newsletter to stay up to date.
    </p>
    <form class="footer__newsletter__form" action="" method="post">
      <input
        class="footer__newsletter__form__input"
        type="email"
        placeholder="Your email address"
        name="email"
        required
      />
      <button class="footer__newsletter__form__button" type="submit">
        Subscribe
      </button>
    </form>
  </div>
</div>
