<div class="highlight">
  <div class="highlight__text">
    <h1 class="highlight__text__headline">Signed,<br> Sealed,<br> Delivered.</h1>
    <p class="highlight__text__description">Discover the essence of music authenticity with our hand-signed<br> albums. Each one is a collector's gem, a tangible connection<br> to the artists you love.</p>
    <div class="highlight__text__buttons">
      <a href="{{ siteUrl('products') }}"><button class="highlight__text__buttons__button button--primary">Products</button></a>
      <a href="{{ siteUrl('albums') }}"><button class="highlight__text__buttons__button button--secondary">View Albums</button></a>
    </div>
  </div>
  <div class="highlight__images">
    <img class="highlight__images--album" src="{{ siteUrl('assets/Juice-WRLD.webp') }}" alt="Juice WRLD album cover">
  </div>
</div>