    <div class="products">
      <p class="products__headline">Our Soundtrack, Your Way: Browse and Own Your Favorite Albums</p>
      <p class="products__description">Dive into the tunes you love with our collection of music albums. From chart-toppers to hidden gems, find the perfect soundtrack for every moment. Explore now and bring the magic of music into your life!</p>
      <ul class="products__productCards">
        <li class="products__productCards__card">Products</li>
      </ul>
    </div>